<IfModule mod_rewrite.c>
RewriteEngine on
php_value short_open_tag 1
php_value date.timezone Asia/Jakarta
php_value post_max_size                   20M
php_value upload_max_filesize             20M

RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>